.container {
    display: flex;
    gap: 10px;
    height: 100%;

    .side-bar {
        width: 300px;
        background-color: whitesmoke;
        padding: 10px;
        border-right: 1px solid black;

        li {
            margin-bottom: 5px;
        }
    }
}
